vti_encoding:SR|utf8-nl
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP
vti_dependenciesood:IR|0
vti_structto_newmexicohospital.com\:80:TR|02 Sep 2000 20:33:52 -0000
vti_copytimestamp_file\:///C\:/Documents and Settings/Administrator/My Documents/My Webs/C\:/Documents and Settings/Administrator/My Documents/My Webs/childrensmd.com:TR|29 Sep 2003 20:14:18 -0000
vti_webservertype:SR|diskweb
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_navbuttonnextlabel:SR|Next
vti_structfrom_localhost\\c\:\\documents and settings\\administrator\\my documents\\my webs\\unitedstateshospital.com/c\:/documents and settings/administrator/my documents/my webs/unitedstateshospital.com:TR|02 Sep 2000 20:33:52 -0000
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_timecreated:TR|05 Feb 2001 02:05:14 -0000
vti_extenderversion:SR|4.0.2.2717
vti_navbuttonprevlabel:SR|Back
vti_structto_www.newmexicohospital.com\:80:TR|02 Sep 2000 20:33:52 -0000
vti_copytimestamp_http\://www.newmexicohospital.com:TR|07 Jun 2001 15:30:51 -0000
vti_longfilenames:IX|1
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_oldestcompatibleversion:SR|2.0.0.0
vti_restartmanual:IX|0
vti_defaultcharset:SR|windows-1252
vti_defaultlanguage:SR|en
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_hassearchbot:BR|false
vti_autorecalc:IX|1
vti_structfrom_localhost\\c\:\\programfiles\\microsoftfrontpage\\georgiahospital.com/c\:/programfiles/microsoftfrontpage/georgiahospital.com:TR|02 Sep 2000 20:33:52 -0000
vti_structto_localhost\\c\:\\documents and settings\\administrator\\my documents\\my webs/c\:/documents and settings/administrator/my documents/my webs/childrensmd.com:TR|02 Sep 2000 20:33:52 -0000
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_navbuttonhomelabel:SR|Home
vti_copytimestamp_http\://newmexicohospital.com:TR|20 Aug 2001 07:09:21 -0000
vti_copytimestamp_file\:///C\:/Documents and Settings/Administrator/My Documents/My Webs/C\:/Documents and Settings/Administrator/My Documents/My Webs/europeancities.com:TR|02 Mar 2004 10:34:49 -0000
vti_insecureserverurl:SR|file://
vti_disableautoimgsizeexts:SX|.asp
vti_structto_localhost\\c\:\\documents and settings\\administrator\\my documents\\my webs/c\:/documents and settings/administrator/my documents/my webs/europeancities.com:TR|02 Sep 2000 20:33:52 -0000
vti_casesensitiveurls:IX|0
vti_textextensions:SX|.txt.
vti_httpdversion:SX|FrontPage DBW
vti_ignorekeyboard:IR|0
vti_navbuttonuplabel:SR|Up
vti_textindexood:IR|0
