vti_encoding:SR|utf8-nl
vti_webservertype:SR|diskweb
vti_restartmanual:IX|0
vti_defaultlanguage:SR|en-us
vti_copytimestamp_http\://www.nationalhospital.com:TR|11 Sep 2013 19:58:16 -0000
vti_usernames:VR|
vti_textextensions:SX|.txt.
vti_timecreated:TR|11 Sep 2002 01:30:02 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_structto_nationalhospital.com\:80:TR|20 Jul 2009 17:33:03 -0000
vti_navbuttonnextlabel:SR|Next
vti_textindexood:IR|0
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_casesensitiveurls:IX|0
vti_dependenciesood:IR|0
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_structto_www.nationalhospital.com\:80:TR|20 Jul 2009 17:33:03 -0000
vti_copytimestamp_http\://nationalhospital.com:TR|22 Jul 2009 19:35:06 -0000
vti_hassearchbot:BR|false
vti_navbuttonhomelabel:SR|Home
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_ServerWebParts vti_RulesScript vti_TimedDocEvents
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_insecureserverurl:SR|file://
vti_copytimestamp_file\:///C\:/Documents and Settings/Administrator/My Documents/My Webs/childrensnationalhospital.com/C\:/Documents and Settings/Administrator/My Documents/My Webs/childrensnationalhospital.com:TR|07 Jul 2004 12:54:51 -0000
vti_defaultcharset:SR|windows-1252
vti_autorecalc:IX|1
vti_httpdversion:SX|FrontPage DBW
vti_navbuttonuplabel:SR|Up
vti_extenderversion:SR|12.0.0.000
vti_navbuttonprevlabel:SR|Back
vti_copytimestamp_file\:///C\:/Documents and Settings/Administrator/My Documents/My Webs/C\:/Documents and Settings/Administrator/My Documents/My Webs/childrensnationalhospital.com:TR|07 Jul 2004 10:37:53 -0000
vti_longfilenames:IX|1
vti_disableautoimgsizeexts:SX|.asp
vti_ignorekeyboard:IR|0
